@model Caixa.Web.Models.AcertoViewModel

@{
    ViewBag.Title = "Lançamento de Acerto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var viewBagVariavel = ViewBag.DIAnterior;
}

<h2>Lançamento de Acerto</h2>

@using (Html.BeginForm("Create", "Acerto", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acerto.Data, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acerto.Data, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.IdEstabelecimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Acerto.IdEstabelecimento, new SelectList(Model.Estabelecimentos, "Id", "Nome", Model.Acerto.IdEstabelecimento), new { disabled = "disabled", @class = "form-control" })


                @Html.ValidationMessageFor(model => model.Acerto.IdEstabelecimento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.IdMaquina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Acerto.IdMaquina, new SelectList(Model.Maquinas, "Id", "Codigo", Model.Acerto.IdMaquina), "Selecione uma máquina", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Acerto.IdMaquina, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.Entrada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acerto.Entrada, new { htmlAttributes = new { @class = "form-control" }, @Value = viewBagVariavel })
                @Html.ValidationMessageFor(model => model.Acerto.Entrada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.Saida, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acerto.Saida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acerto.Saida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.Comissao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Acerto.Comissao, new SelectList(Model.Comissionados, "Comissao", "Nome"), "Selecione um comissionado", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Acerto.Comissao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.Quebra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acerto.Quebra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acerto.Quebra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Acerto.Despesa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Acerto.Despesa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Acerto.Despesa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
