@model Caixa.Web.Models.AcertoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var valorComissao = (Model.Acerto.Entrada * Model.Acerto.Comissao) / 100;
}

<h2>Detalhes</h2>

<p>
    @Html.ActionLink("Gerar Relatório Acerto", "PreviewComprovante", "Acerto", null, new { @class = "btn btn-primary" })
</p>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Estabelecimento")
        </dt>    

        <dd>
            @Html.DisplayFor(model => model.Acerto.Estabelecimento.Nome)
        </dd>
        <br />
        <dt>
            @Html.DisplayName("Código da Máquina")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acerto.Maquina.Codigo)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Maquina.Tema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acerto.Maquina.Tema)
        </dd>
        <br />
        
        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Entrada)
        </dt>

        <dd>
            R$@Html.DisplayFor(model => model.Acerto.Entrada)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Saida)
        </dt>

        <dd>
            R$@Html.DisplayFor(model => model.Acerto.Saida)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Subtotal)
        </dt>

        <dd>
            R$@Html.DisplayFor(model => model.Acerto.Subtotal)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Comissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acerto.Comissao)% (R$@valorComissao)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Quebra)
        </dt>

        <dd>
            R$@Html.DisplayFor(model => model.Acerto.Quebra)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Despesa)
        </dt>

        <dd>
            R$@Html.DisplayFor(model => model.Acerto.Despesa)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Total)
        </dt>

        <dd>
            R$@Html.DisplayFor(model => model.Acerto.Total)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Acerto.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acerto.Data)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Editar", "Edit", new { id = Model.Acerto.Id }) |*@
    @Html.ActionLink("Voltar", "Index")
</p>
