@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @*<ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Cadastro", "Index", "Estabelecimentos")</li>
    </ul>*@

    <div class="navbar-collapse collapse navbar-left">
        <ul class="nav navbar-nav" style="font-weight:bold;">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastro<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Estabelecimentos", "Index", "Estabelecimentos")</li>
                    <li>@Html.ActionLink("Máquinas", "Index", "Maquinas")</li>
                    <li>@Html.ActionLink("Comissionado", "Index", "Comissionados")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acerto<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Novo Acerto", "Create", "Acerto")</li>
                    <li>@Html.ActionLink("Consultar", "Index", "Acerto")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Estabelecimentos", "RelatorioEstabelecimentos", "Estabelecimentos")</li>
                    <li>@Html.ActionLink("Máquinas", "Index", "Home")</li>
                    <li>@Html.ActionLink("Comissão", "Index", "Home")</li>
                </ul>
            </li>
            </ul>
            </div>

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Bem vindo, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
            </ul>
            }
            }
            else
            {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Registrar", "Register", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Login", "Login", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
            }
